/* common shared styles*/
*{
    padding: 0;
    margin: 0;
}
.text-primary{
    color: #FD6E0A;
}
/* nav related styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-titel{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}


nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
